{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "printWidth": 110,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrder": [
    "^@app/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^@features/(.*)$",
    "^@stories/(.*)$",
    "^@utils/(.*)$",
    "^@ui/(.*)$",
    "^[./]",
    "^[../]"
  ]
}
