@keyframes progress {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}


.span {
    position: relative;
    overflow: hidden;
    display: block;
    height: 5px;
    z-index: 0;
    background-color: #ffffff;
}

.root {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    transition: transform 0.2s linear 0s;
    transform-origin: left center;
    background-color: #212121;
    width: auto;
    border-radius: 4px;
}

.first {
    animation: 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) 0s infinite normal none running progress;
}

.second {
    animation: 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite normal none running progress;
}